/************/
/*** Main ***/
/************/

body {
  font-size: 16px;
}

/********************/
/*** Middle Panel ***/
/********************/

.mx_MatrixChat .mx_MatrixChat_middlePanel {
/*   overflow: hidden;  */
  background: rgb(32,32,32);
}

/* Remove padding left & right from main panel */
.mx_MatrixChat .mx_MatrixChat_middlePanel {
  padding-right: 0;
  padding-left: 0;
}

/* Hide separator between room title and messages */
.mx_RoomView_auxPanel {
  display: none;
}

/* Add padding to room header container */
.mx_RoomHeader {
  padding: 0;
}

/* Room header */
.mx_RoomView .mx_RoomHeader .mx_RoomHeader_wrapper {
  background: #292929;
  box-shadow: 0 2px 15px rgba(0,0,30,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.05);
  padding: 0;
  max-width: none;
  align-items: unset;
}

/* Room header title */
.mx_RoomHeader_leftRow {
  display: flex;
  align-items: center;
}
/* Header name & topic text */
.mx_RoomHeader_name {
  line-height: 1;
  height: auto;
  margin-bottom: 5px;
  margin-top: -3px;
}
.mx_RoomHeader_topic {
  line-height: 1;
}
.mx_RoomHeader_name:hover div:not(.mx_RoomHeader_editable) {
    color: rgb(174, 174, 174);
}

/* Remove weird white bg on avatar imgs */
.mx_BaseAvatar_image {
  background: transparent;
}

/* Header Img */
.mx_RoomHeader_avatar {
  width: 70px;
  height: 70px;
}
.mx_RoomHeader_avatar .mx_BaseAvatar_image {
  border-radius: 0;
  width: auto;
  height: 100%;
}

/* Header buttons, no bg */
.mx_RoomHeader_rightRow {
  background-color: transparent;
}

/* Header button row  */
.mx_RoomHeader_rightRow {
  align-items: unset;
  margin-top: 0;
}

.mx_RoomHeader_rightRow > div {
  display: flex;
  margin-top: 0;
}

.mx_RoomHeader_rightRow > div > * {
  align-self: center;
}

.mx_RoomHeader_button {
  margin: 0;
  padding: 0 0.85rem;
}

.mx_RoomHeader_button:last-child {
  padding-right: 1rem;
}

/* Message Hover BG */
.mx_EventTile:hover .mx_EventTile_line, .mx_EventTile.menu .mx_EventTile_line {
  background-color: rgba(0,0,0,0.2);
}

/* Basic Button Hover BG */

.mx_RoomHeader_button:hover, .mx_SearchBox_minimise:hover {
  background: rgba(0,0,0,0.2);
}

/****************/
/*** Messages ***/
/****************/

.mx_EventTile_line, .mx_EventTile_reply {
  line-height: 1.5;
}

.mx_EventTile {
  font-size: 0.95rem;
}

.mx_EventTile_line, .mx_EventTile_reply {
  padding-top: 6px;
}

.mx_DateSeparator {
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.mx_EventTile .mx_MessageTimestamp {
  font-size: 12px;
  font-weight: bold;
  margin-top: 4px;
  color: rgba(255,255,255,0.2);
}

.mx_DateSeparator {
  margin-left: 75px;
}
.mx_EventTile_line, .mx_EventTile_reply {
  padding-left: 75px;
}

/******************/
/*** LEFT PANEL ***/
/******************/

.mx_LeftPanel {
  border-right: none;
}

/* Nav */
.mx_RoomSubList {
  background: transparent;
/*   border-bottom: 1px solid rgba(255,255,255,0.06); */
  padding-bottom: 1.8rem;
}

.mx_RoomSubList > div:hover .mx_RoomTile {
  background-color: rgba(0,0,0,0.12);
}

.mx_RoomTile {
  height: auto;
}
.mx_RoomTile_avatar {
  padding: 11px 6px 11px 16px;
}

.mx_RoomTile_selected {
  background-color: rgba(0,0,0,0.15);
  border-right: 3px solid rgb(118, 207, 166);
}

.mx_RoomSubList_labelContainer {
  height: auto;
  border-bottom: 1px solid rgba(255,255,255,0.06);
}

.mx_RoomSubList_label {
  background: transparent;
  padding: 17px 16px;
}

.mx_RoomSubList_chevron {
  top: 50%;
  transform: translate(-50%,-50%);
  right: 17px;
  transform-origin: 50% 50%;
}

/* More intuitive rotation of chevrons */
.mx_RoomSubList_chevron.mx_RoomSubList_chevronRight {
  transform: translate(-50%,-50%) rotate(90deg);
}
.mx_RoomSubList_chevron.mx_RoomSubList_chevronDown {
  transform: translate(0,-50%) rotate(-180deg);
  margin-top: -1px;
  right: 18px;
}

.mx_RoomSubList_label:hover {
  background: rgba(255,255,255,0.03);
}

/* Search */
.mx_SearchBox {
  height: auto;
  margin: 0;
  position: relative;
  padding: 0;
}
.mx_SearchBox_search {
  height: auto;
  padding: 1.72rem 0 1.72rem 2.5rem;
  font-style: italic;
  letter-spacing: 0.4px;
}

.mx_SearchBox_minimise {
  flex: 0;
  padding: 0 1rem;
  margin: 0;
  display: flex;
  align-items: center;
}

.mx_SearchBox_searchButton {
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  margin-left: 0.9rem;
}