/* Sidebar Left */

/* Top Left Menu Button */
.mx_LeftPanel .mx_TopLeftMenuButton {
  flex: 0 0 60px;
}
.mx_LeftPanel .mx_TopLeftMenuButton:focus {
  background-color: rgba(255,255,255,0.007);
}
.mx_LeftPanel .mx_TopLeftMenuButton:hover {
/*   background-color: rgba(255,255,255,0.002); */
  border-color: aqua;
}
.mx_LeftPanel .mx_BaseAvatar_image {
  width: 37px;
  height: 37px;
}
.mx_LeftPanel .mx_TopLeftMenuButton_chevron {
  margin-left: auto;
  margin-right: 0.7rem;
}

/* Contextual Menu */
.mx_ContextualMenu .mx_TopLeftMenu .mx_TopLeftMenu_section {
  margin: 0;
}
.mx_ContextualMenu .mx_TopLeftMenu .mx_TopLeftMenu_section > li {
  padding-top: 10px;
  padding-bottom: 10px;
}
.mx_ContextualMenu .mx_TopLeftMenu .mx_TopLeftMenu_section li::after {
  top: 47.5%;
  opacity: 0.6;
  transform: translateY(-50%);
}
.mx_ContextualMenu .mx_TopLeftMenu {
  overflow: hidden;
}

/* Labels */
.mx_LeftPanel .mx_RoomSubList_labelContainer {
/*   border-bottom: 1px solid rgba(255,255,255,0.04); */
}
.mx_LeftPanel .mx_RoomSubList:first-child .mx_RoomSubList_labelContainer {
/*   border-top: 1px solid rgba(255,255,255,0.04); */
}

.mx_LeftPanel .mx_RoomSubList_hidden,
.mx_LeftPanel .mx_RoomSubList_hidden .mx_RoomSubList_labelContainer,
.mx_LeftPanel .mx_RoomSubList_nonEmpty .mx_RoomSubList_labelContainer {
  height: 40px !important;
}
.mx_LeftPanel .mx_RoomSubList_nonEmpty {
  height: auto !important;
}
.mx_LeftPanel .mx_AutoHideScrollbar {
  padding: 0;
  background: rgba(0,0,0,0.1);
}

.mx_LeftPanel .mx_RoomSubList_labelContainer {
  margin: 0;
  display: flex;
}
.mx_LeftPanel .mx_RoomSubList .mx_RoomSubList_scroll {
/*   padding-top: 1rem; */
}

.mx_LeftPanel .mx_RoomSubList_label {
  border-bottom: 1px solid rgba(255,255,255,0.04);
  flex: 1;
  height: 100%;
}
.mx_LeftPanel .mx_RoomSubList_label:focus {
  background: rgba(255,255,255,0.01);
}
.mx_LeftPanel .mx_RoomSubList_label:hover {
  background: rgba(255,255,255,0.03);
}
.mx_LeftPanel .mx_RoomSubList_addRoom {
  height: 100%;
  border-radius: 0;
  margin: 0;
  background-color: transparent;
  flex: 0 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.04);
}
.mx_LeftPanel .mx_RoomSubList_addRoom:focus {
  background-color: rgba(0,0,0,0.15);
}
.mx_LeftPanel .mx_RoomSubList_addRoom:hover {
  background-color: rgba(0,0,0,0.2);
}
.mx_LeftPanel .mx_RoomSubList_chevron {
  transition-duration: 0.06s;
}
.mx_LeftPanel .mx_RoomSubList_nonEmpty .mx_AutoHideScrollbar_offset {
  padding-bottom: 10px;
}

/* Room Tiles */
.mx_LeftPanel .mx_RoomSubList .mx_RoomTile {
/*   padding: 10px; */
  padding: 0;
  border-radius: 0;
  height: auto;
  align-items: stretch;
}
.mx_LeftPanel .mx_RoomSubList .mx_RoomTile:focus {
  background: rgba(255,255,255,0.01);
}
.mx_LeftPanel .mx_RoomSubList .mx_RoomTile:hover {
  background: rgba(255,255,255,0.03);
}
.mx_LeftPanel .mx_RoomSubList .mx_RoomTile_selected,
.mx_LeftPanel .mx_RoomSubList .mx_RoomTile_selected:hover {
  
}

.mx_LeftPanel .mx_RoomSubList .mx_RoomTile .mx_RoomTile_avatar {
  padding: 10px;
}
.mx_LeftPanel .mx_RoomSubList .mx_RoomTile .mx_RoomTile_nameContainer {
  flex: 1;
  vertical-align: initial;
}
.mx_LeftPanel .mx_RoomSubList .mx_RoomTile .mx_RoomTile_menuButton {
  display: block;
  height: 100%;
  padding: 0 0.18rem;
}
.mx_LeftPanel .mx_RoomSubList .mx_RoomTile .mx_RoomTile_menuButton:focus {
  background-color: rgba(0,0,0,0.15);
}
.mx_LeftPanel .mx_RoomSubList .mx_RoomTile .mx_RoomTile_menuButton:hover {
  background-color: rgba(0,0,0,0.2);
}

/*** Roomview ***/

/** Header **/

.mx_RoomView .mx_RoomHeader {
  flex: 0 1 60px;
  background: rgba(255,255,255,0.04);
  box-shadow: 3px 0 20px rgba(0,0,0,0.3);
/*   display: flex; */
}
.mx_RoomView .mx_RoomHeader .mx_RoomHeader_wrapper {
  height: auto;
  padding: 0;
  display: flex;
  align-items: stretch;
}
.mx_RoomView .mx_RoomHeader .mx_RoomHeader_avatar {
  height: 60px;
  margin: 0;
  width: auto;
}
.mx_RoomView .mx_RoomHeader .mx_BaseAvatar_image {
  border-radius: 0;
  height: 100%;
  width: auto;
}
.mx_RoomView .mx_RoomHeader .mx_RoomHeader_name {
  display: flex;
  align-items: center;
  margin-left: 1.2rem;
}
.mx_RoomView .mx_RoomHeader .mx_RoomHeader_topic {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 1rem;
  max-height: none;
  padding-top: 1px;
}

/* Right Buttons */
.mx_RoomHeader .mx_RoomHeader_buttons {
  display: flex;
/*   height: 100%; */
  padding: 0;
}
.mx_RoomHeader .mx_RoomHeader_buttons > div {
  cursor: pointer;
  position: relative;
  flex: 1;
  margin: 0;
  height: 100%;
  padding: 0 0.3rem;
  mask-position: center;
  mask-size: 50%;
}
.mx_RoomHeader .mx_RoomHeader_buttons > div:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
/*   background: red; */
/*   z-index: 10; */
  right: 0;
  left: 0;
}
.mx_RoomHeader .mx_RoomHeader_buttons > div:hover {
  background: rgba(255,255,255,0.5);
}

.mx_RoomHeader .mx_HeaderButtons .mx_RightPanel_headerButton {
  cursor: pointer;
  height: 100%;
  margin: 0;
  padding: 0 0.7rem;
  border-right: 1px solid rgba(255,255,255,0.08);
}
.mx_RoomHeader .mx_HeaderButtons .mx_RightPanel_headerButton:last-child {
  border-right: none;
}
.mx_RoomHeader .mx_HeaderButtons .mx_RightPanel_headerButton:focus {
  background: rgba(0,0,0,0.15);
}
.mx_RoomHeader .mx_HeaderButtons .mx_RightPanel_headerButton:hover {
  background: rgba(0,0,0,0.23);
}
.mx_RoomHeader .mx_HeaderButtons:before {
  margin: 0;
  background-color: rgba(255,255,255,0.13);
}
.mx_RoomHeader .mx_HeaderButtons .mx_RightPanel_headerButton:before {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0 auto;
  mask-position: center;
/*   mask-size: 50%; */
}

/* Timeline */
.mx_RoomView .mx_RoomView_messagePanel {
/*   max-width: 1100px;
  margin: 0 auto; */
}

.mx_RoomView .mx_DateSeparator {
  margin: 1.8rem 0;
  padding: 0 4rem;
}
.mx_RoomView .mx_DateSeparator > hr {
  border-bottom: 1px solid rgba(255,255,255,0.09);
}

/*** Message ***/
.mx_MessageComposer {
  background: #171717;
}
.mx_MessageComposer .mx_MessageComposer_wrapper {
  padding: 0;
  padding-right: 1rem;
  min-height: 80px;
  display: flex;
  flex-direction: column;
}
.mx_MessageComposer .mx_MessageComposer_row {
  align-items: initial;
/*   height: 100%; */
  flex: 1;
}
.mx_MessageComposer .mx_MessageComposer_avatar {
  position: relative;
  left: auto;
  padding: 0 1.33rem 0;
  height: 65px;
  display: flex;
}
.mx_MessageComposer_avatar .mx_BaseAvatar {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  align-self: center;
}
.mx_MessageComposer .mx_MessageComposer_input_wrapper {
  padding: 0 1rem 0.7rem 0;
}
.mx_MessageComposer .mx_MessageComposer_row > div {
/*   flex: 1; */
}
.mx_MessageComposer .mx_MessageComposer_input_markdownIndicator {
  padding-top: 0;
/*   padding-bottom: 0; */
}
.mx_MessageComposer .mx_MessageComposer_input {
  margin: 0;
}
.mx_MessageComposer .mx_MessageComposer_editor {
/*   background: red; */
  max-height: none;
  flex: 1;
  padding: 0.3rem 0.3rem 0 0.3rem;
  margin-bottom: 0;
  border-radius: 7px;
  border: 1px solid transparent;
  box-sizing: border-box;
}
.mx_MessageComposer .mx_MessageComposer_editor:focus {
  background: #111;
  box-shadow: inset 0 3px 10px rgba(0,0,0,0.2);
  border: 1px solid rgba(255,255,255,0.07); 
}

.mx_MessageComposer .mx_MessageComposer_row .mx_MessageComposer_button {
  display: flex;
  height: 50px;
  margin: 0;
  padding: 0 0.55rem;
  mask-size: 50%;
/*   height: 100%; */
}
.mx_MessageComposer .mx_MessageComposer_row > .mx_MessageComposer_button:last-child {
/*   padding-right: 1.2rem; */
}
.mx_MessageComposer .mx_MessageComposer_row div .mx_MessageComposer_stickers {
/*   height: 100%; */
}

/*** Dialog ***/
.mx_Dialog_wrapper {
  background: rgba(0,0,0,0.4);
}

/* Settings */
.mx_Field input, .mx_Field select, .mx_Field textarea {
  border-color: rgba(255,255,255,0.1);
  background: rgba(0,0,0,0.3);
}

.mx_Field input:focus + label, .mx_Field input:not(:placeholder-shown) + label, .mx_Field textarea:focus + label, .mx_Field textarea:not(:placeholder-shown) + label, .mx_Field select + label {
  background: none;
  top: -30px;
  margin-left: 0;
  font-weight: bold;
  font-size: 0.8rem;
}

.mx_Dialog .mx_Field {
  margin-top: 2.3rem;
}

.mx_Dialog .mx_SettingsTab_heading {
  margin-bottom: 2.4rem;
}